@import "tailwindcss";
 
:root {
  font-family: "Poppins", sans-serif;
 /* background: #191919; */
}

.bg-register{
  background: linear-gradient(115deg, #ffffff, #fff1ba, #ffffff);
  height: 100vh;
  width: 100%;
}

.Register-text{
  /* font-family: "Lobster", sans-serif; */
  font-family: "Great Vibes", cursive;
font-weight: 700;
}


/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 6px; /* Adjust the width */
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Customize scrollbar color */
  border-radius: 8px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background: #f9fafb; /* Background of scrollbar track */
}


.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #b1c4e0;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #0077ff transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 